/* line 1, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/sinohara/program/webclipboard/app/assets/stylesheets/common/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



.box {
   width:70%;
   height:200px;
   background:#FEFF60;
   margin:40px auto;

}

.boxblue{
   background:#1E90FF;
}

.boxyellow{
   background:#FEFF60;
}

.boxred{
   background:#FF0000;
}

.box p{
   text-align:left;
   position:relative;
   top:15px;
   left:15px;
}

.effect1{
    -webkit-box-shadow: 0 5px 20px -6px #777;
       -moz-box-shadow: 0 5px 20px -6px #777;
            box-shadow: 0 5px 20px -6px #777;
         border-radius: 5px;
}

.effect2{
 position: relative;
 border-radius:10px;
/* box-shadow(rgba(0,0,0,.15)0 0 2px);*/
}

.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%; 
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
